<div class="app">
        <div class="panel">
            <div class="viewer">
                <iframe src="" id="api-frame" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                <form class="options"></form>
                <p>{{ Drupal.settings }}</p>
            </div>
        </div>
</div>
